<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List popular data science tools
- Show some examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. VBA
4. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. SciPy

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Jupyter Lab|
|Apache Spark|

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [10]:
# This a simple arithmetic expression to mutiply then add integers
q8 = (3*4)+5
print (q8)

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hour = min/60
print(hour)

3.3333333333333335

<h2> Author </h2>
Jasmine